<h1>New Cat</h1>
<form method="post" action="/cats">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
    </div>
    <div>
        <label for="breed">Breed</label>
        <input type="text" name="breed" id="breed" />
    </div>
    <div>
        <label for="age">Age</label>
        <input type="number" name="age" id="age" />
    </div>
    <div>
        <input type="Submit" value="Create Cat" />
    </div>
</form>